if hexo-config('preloader.enable') && hexo-config('preloader.source') == 9997
  @import './loading/wave-loading'
else if hexo-config('preloader.enable') && hexo-config('preloader.source') == 9998
  @import './loading/check-list-loading'
else if hexo-config('preloader.enable') && hexo-config('preloader.source') == 9999
  @import './loading/fullpage-loading'
